
 body {
    min-height: 100vh;
    background-color: #7E57C2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0%;
}

input {
    width: 55vh;
    height: 6vh;
    border: none;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 500;
    /* padding-left: 2%; */
    margin: 2% 2% 2% 2%;
}

.effect-8 {
    border: 1px solid #ccc;
    padding: 5px 14px 5px;
    transition: border 0.1s ease-in-out;
}

input:focus {
    border: 2px solid #aeaeae;
    outline: none;
}

input::placeholder {
    color: #bcbcbc;
}

.container {
    /* border: 2px solid green; */
    border-radius: 20px;
    width: 60%;
    /* height: 60%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0.5%;
}

.make-it-slow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: margin-bottom 0.3s ease-in-out;
}

.make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 1%;
}


.col1 {
    /* padding: 2% 9%; */
    width: 65%;
    /* border: 2px solid red; */
    background-color: #eeeeee;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col2 {
    /* padding: 2% 3%; */
    width: 35%;
    /* border: 2px solid blue; */
    background-color: #00bcd4;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

button {
    color: #f5f5f5;
    border: 2px solid #00bcd4;
    background-color: #4dd0e1;
    width: 45%;
    padding: 2%;
    border-radius: 17px;
    transition: background-color 0.3s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    margin-top: 2%;
}

button:hover {
    background-color: #00bcd4;
}

.result{
    color: #fafafa;
}
.heading{
    color: #f5f5f5;
    background-color: #bcbcbc;
    width: 100%;
    /* height: 50px; */
    border-radius: 12px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0% 0% 0% 0%; */
}
.heading2{
    background-color: #008ba3;
    width: 100%;
    border-radius: 0px 12px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;


}